  * {
    margin: 0;
    padding: 0;
  }

  :root {
    --color-primary: #E9B6DB;
    --color-secondary: #FFFAFA;
    --color-black: #000000;

  }

  body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }

  
  a {
    text-decoration: none;
    color: var(--color-black)
  }

  a:hover {
    text-decoration: underline;
    color: var(--color-primary);
  }

  li {
    list-style: none;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 3rem;
    margin: 0; 
    color: var(--color-primary);
  }

  h2 {
    font-size: 1.5rem;
    margin: 0; 
    color: var(--color-primary); 
  }
  h3 {
    font-size: 1.2rem;
    margin: 0;  
    color: var(--color-primary); 
  }

  p {
    line-height: 1.6;
    color: var(--color-black); 
    margin-bottom: 24px;
  }

  .p-max-with {
    max-width: 800px;
    margin: 0 auto;
  }