  a {
    text-decoration: none;
    color: blue;
  }

  a:hover {
    text-decoration: underline;
    color: red;
  }

  li {
    list-style: none;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 3rem;
    margin: 0;  
  }

  h2 {
    font-size: 1.5rem;
    margin: 0;  
  }
  h3 {
    font-size: 1.2rem;
    margin: 0;  
  }

  p {
    line-height: 1.6;
  }