---
import Layout from "../layouts/Layout.astro";
import TwoColumns from "../components/TwoColumns.astro";
---

<Layout>
  <TwoColumns />
  <p>Hallo Das ist eine Webseite über mich Selbst</p>
</Layout>
