<div class="box">
  <div>
    <h3>Mein erster Blog</h3>
    <p>
      hier kommt eine kleine Einleitung, um was es in dem Blogbeitrag gehen
      wird.
    </p>
    <button>
      <li><a href="/blog/mein-erster-blog">Mein erster Blog</a></li></button
    >
  </div>
  <div>
    <h3>Titel 1</h3>
    <p>
      hier kommt eine kleine Einleitung, um was es in dem Blogbeitrag gehen
      wird.
    </p>
    <button>Mehr lesen</button>
  </div>
  <div>
    <h3>Titel 1</h3>
    <p>
      hier kommt eine kleine Einleitung, um was es in dem Blogbeitrag gehen
      wird.
    </p>
    <button>Mehr lesen</button>
  </div>
</div>

<style>
  div div {
    background-color: pink;
    padding: 10px;
  }

  .box {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
  }
</style>
