---
const { href } = Astro.props;
const { variant = "primary" } = Astro.props;
---

<a class={`btn ${variant}`} href={href}><slot /></a>

<style>
  .btn {
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
  }

  .btn.primary {
    background: var(--color-primary);
    color: var(--color-secondary);
  }

  .btn.secondary {
    background: var(--color-secondary);
    color: var(--color-primary);
  }
</style>
