---
const { href } = Astro.props;
const { variant = "primary" } = Astro.props;
---

<button class={`btn ${variant}`}><a href={href}><slot /></a></button>

<style>
  .btn {
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
  }

  .btn.primary {
    background: var(--color-primary);
    border: none;
    margin: 16px 0;
  }

  .btn.primary a {
    color: var(--color-secondary);
    text-decoration: none;
  }

  .btn.secondary a {
    color: var(--color-primary);
    text-decoration: none;
  }

  .btn.secondary {
    background: var(--color-secondary);
    border: none;
  }
</style>
