<footer>
  <section>
    <div>
      <p>
        Olivia Castano <br />
        Musterstrasse 23<br />
        8752 PLZ<br />
        012 345 67 89<br />
        mail.adresse@mail.com
      </p>
    </div>
    <div>
      <ul>
        <li><a href="">Impressum</a></li>
        <li><a href="">Datenschutz</a></li>
      </ul>
    </div>
  </section>
</footer>

<style>
  footer {
    background: var(--color-primary);
  }

  section {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 24px 0;
  }
</style>
