---
import { Image } from "astro:assets";
import header from "../assets/header.jpg";
---

<div>
  <h1>{new Date()}</h1>
  <Image src={header} alt="Blog Post Image" />
</div>

<style>
  header {
    width: 100%;
    margin: 0 auto;
  }
  div img {
    width: 100vw;
    height: auto;
  }
</style>
