---
import { Image } from "astro:assets";
import logo from "../assets/BeMe.png";
import Nav from "../components/Nav.astro";
---

<div>
  <Image src={logo} alt="This is my Logo." />
  <Nav />
</div>

<style>
  header {
    width: 100%;
    margin: 0 auto;
  }

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  div img {
    width: 5%;
    height: 5%;
  }
</style>
