<nav>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/ueber-mich">Über mich</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/reisen">reisen</a></li>
    <li><a href="/ausbildung">ausbildung</a></li>
  </ul>
</nav>
